<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:each="erro : ${erros}">
        Erro: <p th:text="${erro}"></p>
        
    </div>

    <form method="POST">
        <p>Nome da categoria: <input type="text" name="nome"></p>
        <button type="submit">Cadastrar</button>
    </form>

</body>
</html>